* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	width: 100%;
	margin: auto;
	background-color: #575757;
	height: 100vh;
}


.introduction {
	position: relative;
	top: 70px;
}

.introduction h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
}

.introduction p {
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.doors {
	display: flex;
	justify-content: center;
	margin: 150px 0;
}

.doors img {
	margin: 0 80px;
	cursor: pointer;
}

#one {
	width: 180px;
}

#two {
	width: 245px;
}

#three {
	width: 240px;
}

#first, #second, #third {
	display: none;
}

